.container {
  width: 100%;
  box-sizing: content-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

.list-group-item {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.container h5 {
  margin-bottom: .25rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.list-group-item > h5 {
  text-decoration: none;
}

.list-group-item.completed > h5 {
  text-decoration: line-through;
}

.profile-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.form-element {
  margin-bottom: 0.5rem;
}

.form-element > label > input {
  display: block;
  width: 80%;
  margin-bottom: 0.5rem;
  height: calc(1.5em + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}